<html>
  <div class="container">
	<h3>Restaurant dates</h3>
	  <div id="listings">
		  <table>
			  <% for listing in @reservations %>
			    <tr>
				    <td><span id="entry"><%= listing.id %></span></td>
				    <td><span id="entry"><%= listing.restaurant%></td>
			    </tr>
			  <% end %>
		  </table>
	  </div>
	</div>
</html>