#header_logo {
	float: left;
}

label.error {
    color: #f00;
}

.container ul.tagit {
    margin-left: 0;
    width: 350px;
}

.table {
	width: 80%;
}

#getrestaurantname {
    padding-left: 5px;
    padding-top: 3px;
    height: 25px;
    width: 30px;
    margin-top: 0px;
    position: relative;
    top: -5px;
}

#eatwithmetitle {
	font-color: white;
	margin-left: 5px;
}
