#gender, #gender_target {
	float: left;
	margin: 10px 20px 10px 0;
	font-weight: bold;
}

.centerelement {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.spacerow {
	margin: 20px 0 20px 0;
}

#header_logo {
	float: left;
}

label.error {
    color: #f00;
}

.container ul.tagit {
    margin-left: 0;
    width: 350px;
}

.table {
	width: 80%;
}

#getrestaurantname {
    padding-left: 5px;
    padding-top: 3px;
    height: 25px;
    width: 30px;
    margin-top: 0px;
    position: relative;
    top: -5px;
}

#eatwithmetitle {
	font-color: white;
	margin-left: 5px;
}

#restaurant {
    width: 640px;    
}