<!DOCTYPE html>
<html>
<head>
  <title>RestaurantDate</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
       <div class="navbar-inner">
          <div id="login-button-box" class="buttonbox header">
   	        <div class="fb-login-button" scope="user_location,friends_location,friends_checkins,friends_about_me" >Login with Facebook</div>
   		    </div>
        </div>
  </div>
  <div class="container">
    <div class="hero-unit">
      <%= yield %>
    </div>
  </div>
</body>
</html>
