<!DOCTYPE html>
<html>
<head>
  <title>RestaurantDate</title>
  <link href='http://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
       <div class="navbar-inner">
			<a id ="eatwithmetitle" class="brand" href="/home" style="font-family: 'Parisienne', cursive;margin-left:50px;font-size:28px;margin-top:5px;">Eat with Me</a>
			<div id="login-button-box">
				<div class="fb-login-button" scope="user_location,friends_location,friends_checkins,friends_about_me" >Login</div>
			</div>
			<ul class="nav">
		      <li><a id="my_meals" href="" onclick="sendUserId('/home/search_my_meals')">My Meals</a></li>
			  <li>
			  	<div id="login-button-box">
					<div class="fb-login-button" scope="user_location,friends_location,friends_checkins,friends_about_me" >Login</div>
				</div>
			  </li>
		    </ul>
       </div>
  </div>
  <div class="container">
    <div class="hero-unit">
      <%= yield %>
    </div>
  </div>
</body>
</html>
